body {
    background-image: url('../images/taustakuva3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: black;
}

footer {
    display: table;
    width: 100%;
    background-color: black;
}

.topheader {
    background-color: black;
}

.topheader li {
    display: inline;
}

.topheader li a {
color: whitesmoke;
}

.logo img {
    width: 400px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 35px;
    border: 2px solid black;
}

.search {
    border-radius: 5px;
    height: 36px;
}

.ad1 {
    margin-left: 20px;
}

.ad2 {
    margin-left: 32px;
}

.leftfooter {
    background-color: black;
    color: whitesmoke;
    display: table-cell;
}

.rightfooter {
    background-color: black;
    color: whitesmoke;
    display: table-cell;
    text-align: right;
}

.cart {
    border-radius: 5px;
}