body {
    background-image: url('../images/taustakuva3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: black;
}

footer {
    display: table;
    width: 100%;
    background-color: black;
}

.topheader {
    background-color: black;
}

.topheader li {
    display: inline;
}

.topheader li a {
color: whitesmoke;
}

.logo img {
    width: 400px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 35px;
    border: 2px solid black;
}

.search {
    border-radius: 5px;
    height: 36px;
}

.ad1 {
    margin-left: 20px;
    border: 2px solid #ffc107;
    border-radius: 5px;
}

.ad2 {
    margin-left: 32px;
    border: 2px solid #ffc107;
    border-radius: 5px;
}

.leftfooter {
    background-color: black;
    color: whitesmoke;
    display: table-cell;
}

.rightfooter {
    background-color: black;
    color: whitesmoke;
    display: table-cell;
    text-align: right;
}

.cart {
    border-radius: 5px;
}

.kuvat {
    max-width: 100%;
    max-height: 250px;
}

.address {
    display: block;
    font-style: italic;
}

.addtocart {
    width: 100%;
}

  /* this title for page headings (example. login,register)*/
.title {
    color: goldenrod;
    margin-left: 10px;
}

.info {
    background-color: black;
}

/*Checkout css*/
.paymentWrap {
	padding: 50px;
}

.paymentWrap .paymentBtnGroup {
	max-width: 800px;
	margin: auto;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
	padding: 40px;
	box-shadow: none;
	position: relative;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	border-color: #4cd264;
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
    transition: all 0.5s;
    
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
 background-image: url("images/visa.png") ;
}
.paymentWrap .paymentBtnGroup .paymentMethod .method.master-card {
    background-image: url("images/mastercard.png")
}
.paymentWrap .paymentBtnGroup .paymentMethod .method.paypal {
	background-image: url("images/paypal.png");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.bitcoin {
	background-image: url("images/bitcoin.png");
}
.paymentWrap .paymentBtnGroup .paymentMethod .method.posti {
	background-image: url("images/posti.png");
}
.paymentWrap .paymentBtnGroup .paymentMethod .method.matkahuolto {
	background-image: url("images/matkahuolto.png");
}


.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	border-color: #4cd264;
	outline: none !important;
}
[type='radio'] {
    display: none;
}
.order {
    margin-right: 15px;
}

.message {
    border: 1px solid #c0c0c0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 100px;
    padding: 10px;
}

.review {
    color: whitesmoke;
    display: inline;
    }